name: Build nix package
run-name: Build nix package
on:
  push:
    branches:
      - "main"

jobs:
  build-push-nix-docker-image:
    name: Build nix package
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Build nix package
        run: |
          nix build .
